body {
    min-height: 2000px;
    padding-top: 70px;
}

.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}
#map {
    width: 100%;
    height: 400px;
}
.table.table-verical>tbody>tr>td,
.table.table-verical>tbody>tr>th,
.table.table-verical>tfoot>tr>td,
.table.table-verical>tfoot>tr>th,
.table.table-verical>thead>tr>td,
.table.table-verical>thead>tr>th {
    vertical-align: middle;
}
