/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/



nav,
header,
footer,
section,
article,
figure {
	display: block;
}

html,
body {
	height: 100%;
}

body {
	-webkit-text-size-adjust: 100%;
	background: white;
	color: #333333;
	font: 18px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 35px;
	margin: 0;

}

a {
	color: #333333;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: "";
}

img {
	border: none;
}

form,
fieldset {
	border-style: none;
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
	color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	font: 18px "PT Sans", Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

textarea {
	resize: none;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

audio,
canvas,
video {
	display: inline-block;
}

figure {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1180px;
	padding: 0 10px;
	position: relative;
}

@media only screen and (max-width: 767px) {
	.container {
		max-width: 100%;
		padding: 0 20px;
		margin-top: 45px;
	}
}
.container:after {
	display: block;
	clear: both;
	content: "";
}

.accessibility {
	left: -9999px;
	position: absolute;
	top: 0;
}

.hidden {
	display: none !important;
}

@media only screen and (max-width: 1200px) {
	.visual-gallery .slideset iframe {
		width: 70% !important;
	}
	.xl-hidden {
		display: none !important;
	}

	.xl-visible {
		display: block !important;
	}
}
@media only screen and (max-width: 959px) {
	.l-hidden {
		display: none !important;
	}

	.l-visible {
		display: block !important;
	}
}
@media only screen and (max-width: 767px) {
	.m-hidden {
		display: none !important;
	}

	.m-visible {
		display: block !important;
	}
}
@media only screen and (max-width: 639px) {
	.sm-hidden {
		display: none !important;
	}

	.sm-visble {
		display: block !important;
	}
}
@media only screen and (max-width: 479px) {
	.xs-hidden {
		display: none !important;
	}

	.xs-visible {
		display: block !important;
	}
}
.placeholder {
	display: block;
}

[class^="ico"] {
	background: url('/markup/images/sprite.png?1415794676') no-repeat;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	[class^="ico"] {
		background-image: url('/markup/images/sprite@2x.png?1415794678');
		background-size: 1000px 1000px;
	}
}
.align-left {
	float: left !important;
}

.align-right {
	float: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

/* basic elements styles start */
p {
	margin: 0 0 20px;
}

.title {
	font: 100px "Play", Arial, Helvetica, sans-serif;
	line-height: 100px;
	margin: 0 0 51px;
	color: white;
}

@media only screen and (max-width: 1200px) {
	.title {
		font: 60px/60px "Play", Arial, Helvetica, sans-serif;
	}
}
@media only screen and (max-width: 767px) {
	.title {
		font: 30px/30px "Play", Arial, Helvetica, sans-serif;
	}
}
h1 {
	font-size: 45px;
	line-height: 60px;
	margin: 0 0 20px;
	font-family: "Play", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #666666;
}

@media only screen and (max-width: 767px) {
	h1 {
		font: 30px/30px "Play", Arial, Helvetica, sans-serif;
	}
}
h2 {
	font-size: 41px;
	line-height: normal;
	margin: 0 0 20px;
}

h3 {
	font-size: 37px;
	line-height: normal;
	margin: 0 0 20px;
}

h4 {
	font-size: 33px;
	line-height: normal;
	margin: 0 0 20px;
}

h5 {
	font-size: 29px;
	line-height: normal;
	margin: 0 0 20px;
}

h6 {
	font-size: 27px;
	line-height: normal;
	margin: 0 0 20px;
}

label {
	cursor: pointer;
}

.main-list {
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}
.main-list a {
	color: #ec008c;
	text-decoration: none;
}
.main-list a:hover {
	color: #f24cae;
}

@media only screen and (max-width: 767px) {
	.main-list {
		line-height: 25px;
		margin: 0 0 15px;
	}
}
/* basic elements styles end */
/* btn styles start */
.btn {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background: #333333;
	color: white;
	display: inline-block;
	font: 14px "PT Sans", Arial, Helvetica, sans-serif;
	height: 39px;
	letter-spacing: 1px;
	line-height: 40px;
	max-width: 100%;
	overflow: hidden;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
	.btn {
		font-size: 16px;
	}
}
.btn:hover {
	text-decoration: none;
}

.btn.blue {
	background: #004e96;
}

.btn.blue:hover {
	background: #4c83b5;
}

.btn.green {
	background: #71cb3a;
}

.btn.pink {
	background: #ec008c;
}

.btn.pink:hover {
	background: #f24cae;
}

.btn.light-blue {
	background: #e5edf4;
}

.btn.orange {
	background: #ec5c15;
}

.btn.grey {
	background: #eeeeee;
	color: #333333;
}

.btn.dark-grey {
	background: #626262;
	color: white;
}

.btn.light-grey {
	background: #bcbdbd;
	color: white;
}

.btn.full-width {
	padding: 0;
	width: 100%;
}

.btn.rounded {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.btn.middle {
	font-size: 18px;
	height: 30px;
	line-height: 30px;
}

@media only screen and (max-width: 959px) {
	.btn.middle {
		font-size: 45px;
		line-height: 45px;
		height: 45px;
	}

	.btn.middle.rounded {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
	}
}
@media only screen and (max-width: 639px) {
	.btn.middle {
		font-size: 18px;
		height: 30px;
		line-height: 30px;
	}

	.btn.middle.rounded {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
	}
}
input[type="submit"].btn,
button.btn {
	cursor: pointer;
	border: none;
	line-height: normal !important;
	overflow: visible;
}

/* btn styles end */
/* custom form elements styles start */
.outtaHere {
	left: -9999px !important;
	position: absolute !important;
}

.outtaHere-touch {
	height: 100%;
	left: 0 !important;
	opacity: 0;
	position: absolute !important;
	top: 0 !important;
	width: 100%;
	z-index: 1;
}

.checkboxAreaChecked,
.checkboxArea,
.radioAreaChecked,
.radioArea {
	cursor: pointer;
}

/* custom select styles start */
.selectArea {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #666666;
	color: #666666;
	font: 16px "PT Sans", Arial, Helvetica, sans-serif;
	height: 37px;
	position: relative;
	width: 100% !important;
}
.selectArea.selectAreaActive {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}
.selectArea .center {
	display: block;
	height: 27px;
	padding: 7px 10px 3px 9px;
}

.selectButton {
	cursor: pointer;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.selectButton:after {
	background: #666666;
	bottom: 0;
	content: '';
	position: absolute;
	right: 38px;
	top: 0;
	width: 1px;
}
.selectButton .ico {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -860px 0;
	height: 7px;
	margin: -3px 0 0;
	overflow: hidden;
	position: absolute;
	right: 13px;
	top: 50%;
	width: 14px;
}

.selectOptions {
	z-index: 2000;
}
.selectOptions .select-list {
	border: 1px solid #666666;
	border-top: none;
	position: relative;
	width: 100%;
}
.selectOptions ul {
	background: white;
	color: #666666;
	font: 16px "PT Sans", Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}
.selectOptions ul li {
	vertical-align: top;
}
.selectOptions ul a {
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 5px 10px 5px 9px;
	text-decoration: none;
}
.selectOptions ul a:hover {
	background: #ccc;
}

#wrapper {
	position: relative;
	width: 100%;
}
#wrapper .bg-overlay {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 92px;
	z-index: 5;
}
#wrapper.overlay .bg-overlay {
	display: block;
}
#wrapper.overlay #header .box:after {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.load-page {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
	background: #fff;
	height: 100%;
	left: 0;
	min-width: 320px;
	overflow: hidden;
	position: fixed;
	text-indent: -9999px;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.load-page.loaded {
	background-color: rgba(0, 0, 0, 0.9);
}
.load-page .slideset {
	height: 500px;
	left: 50%;
	margin: -250px 0 0 -450px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 900px;
	z-index: 2;
}
.loader .slideset img {
	-webkit-transform: translate3d(0, 0, 0);
	height: auto;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.load-page .bg {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 1.2s;
	-moz-transition: opacity 1.2s;
	-o-transition: opacity 1.2s;
	transition: opacity 1.2s;
	-webkit-transition-property: opacity, -webkit-transform, top, left;
	-moz-transition-property: opacity, -moz-transform, top, left;
	-o-transition-property: opacity, -o-transform, top, left;
	transition-property: opacity, transform, top, left;
	background: url('/markup/images/loader/bg-loader.png') no-repeat;
	height: 167px;
	left: 50%;
	margin: -145px 0 0 -376px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 741px;
	z-index: 1;
}
.load-page .bg.show {
	opacity: 1;
}
.load-page .bg.top {
	-webkit-transform: scale(0.27);
	-moz-transform: scale(0.27);
	-ms-transform: scale(0.27);
	-o-transform: scale(0.27);
	transform: scale(0.27);
	top: 111px;
	left: 109px;
}
.load-page .bg-text {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 1.2s;
	-moz-transition: opacity 1.2s;
	-o-transition: opacity 1.2s;
	transition: opacity 1.2s;
	-webkit-transition-property: opacity, -webkit-transform, top, left;
	-moz-transition-property: opacity, -moz-transform, top, left;
	-o-transition-property: opacity, -o-transform, top, left;
	transition-property: opacity, transform, top, left;
	height: 148px;
	left: 50%;
	margin: 118px 0 0 -90px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 506px;
}
.load-page .bg-text:after {
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
	background: url('/markup/images/loader/bg-loader.png') no-repeat -263px -239px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}
.load-page .bg-text.show:after {
	width: 100%;
}
.load-page .bg-text.bottom {
	opacity: 0;
	-webkit-transform: scale(0.27);
	-moz-transform: scale(0.27);
	-ms-transform: scale(0.27);
	-o-transform: scale(0.27);
	transform: scale(0.27);
	top: 100%;
	left: 100%;
}

/* header styles start */
#header {
	left: 0;
	margin-top: -92px;
	position: absolute;
	top: 92px;
	width: 100%;
	z-index: 3;
	/* header fixed styles start */
	/* header fixed styles end */
	/* options styles start */
	/* options styles end */
	/* search form styles start */
	/* search form styles end */
}
#header.fixed {
	background: #f2f2f2;
	left: 0;
	margin: 0;
	min-width: 320px;
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-transition: margin .25s linear;
	-moz-transition: margin .25s linear;
	-ms-transition: margin .25s linear;
	-o-transition: margin .25s linear;
	transition: margin .25s linear;
}
#header.fixed .options {
	margin-top: 1px;
}
#header.fixed .options a {
	color: #004e96;
}
#header.fixed a {
	color: #004e96;
}
#header.fixed a span {
	border-color: transparent;
}
#header.fixed a:hover {
	color: #004e96;
}
#header.fixed a:hover span {
	border-color: transparent;
}
#header.fixed:after {
	background: rgba(0, 0, 0, 0.2);
	bottom: -5px;
	content: '';
	height: 5px;
	left: 0;
	position: absolute;
	width: 100%;
}
#header.fixed #nav ul li.active a {
	color: white;
}
#header.fixed .opener {
	background-position: -820px -20px;
}
#header .box {
	overflow: hidden;
	padding: 30px 250px 31px 243px;
	position: relative;
}
@media only screen and (max-width: 1200px) {
	#header .box {
		padding: 97px 0 0;
	}
	#header.active .box {
		padding: 148px 0 0;
	}
}
#header .options {
	float: right;
	font: 14px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 30px;
	margin: -1px -230px 0 0;
	padding: 0 15px 0 0;
	position: relative;
	text-align: right;
	width: 215px;
}
#header .options li {
	display: inline-block;
	margin: 0 -4px 0 0;
	min-width: 100px;
	padding: 0 0 0 8px;
	position: relative;
}
#header .options li.active > .search-form {
	display: block;
}
#header .options a {
	color: white;
	text-decoration: none;
	font-family: "Play",Arial,Helvetica,sans-serif;
}
#header .options a:hover {
	color: #d4d4d4;
}
@media only screen and (max-width: 1200px) {
	#header .options {
		display: none;
		float: none;
		font-size: 18px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: static;
		text-align: center;
		width: 100%;
	}
	#header .options li {
		margin: 0;
		min-width: 0;
		padding: 0;
		position: static;
	}
	#header .options a {
		color: #666666;
	}
}
#header .search-form {
	display: none;
	padding: 0 40px 0 0;
	position: absolute;
	right: -11px;
	top: -5px;
	width: 240px;
	z-index: 6;
}
#header .search-form input[type="text"] {
	border: 1px solid #ec008c;
	height: 23px;
	outline: none;
	padding: 7px 7px 8px;
	width: 100%;
}
#header .search-form input[type="text"]::-webkit-input-placeholder {
	color: #bcbcbc;
}
#header .search-form input[type="text"]:-moz-placeholder {
	color: #bcbcbc;
	opacity: 1;
}
#header .search-form input[type="text"]:-ms-input-placeholder {
	color: #bcbcbc;
}
#header .search-form button[type="submit"] {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background: #004e96;
	border: none;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
}
#header .search-form button[type="submit"] .ico {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -210px 0;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
}
@media only screen and (max-width: 1200px) {
	#header .search-form {
		bottom: 50px;
		display: block;
		left: 52px;
		padding: 0 60px 0 0;
		right: 52px;
		top: auto;
		width: auto;
	}
	#header .search-form input[type="text"] {
		font-size: 24px;
		padding: 13px 17px;
		height: 32px;
	}
	#header .search-form button[type="submit"] {
		height: 60px;
		width: 60px;
	}
}
#header .opener {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -820px 0;
	height: 17px;
	overflow: hidden;
	position: absolute;
	right: 50px;
	text-indent: -9999px;
	top: 42px;
	width: 30px;
	z-index: 10;
}

@media only screen and (max-width: 1200px) {
	#header {
		z-index: 3;
	}
	#header.active .box {
		background: white;
		min-height: 342px;
		padding-bottom: 50px;
	}
	#header.active #nav,
	#header.active .options {
		display: block;
	}
	#header.active .opener {
		background: url('/markup/images/sprite.png?1415794676') no-repeat -880px 0;
		height: 22px;
		right: 54px;
		top: 39px;
		width: 24px;
	}
	#header .opener {
		background-position: -820px -20px;
	}


}
@media only screen and (max-width: 767px) {
	#header .box {
		background: #e5e5e5;
		overflow: visible;
		padding: 50px 0 0;
	}
	#header .opener {
		background-position: -820px -20px;
		right: 10px;
		top: 16px;
	}
	#header.fixed .box {
		padding-top: 81px;
	}
	#header.fixed .logo {
		top: 16px !important;
	}
	#header.fixed.active .box {
		padding-top: 75px;
	}
	#header.active .box {
		background: #e5e5e5;
		padding-bottom: 22px;
		padding-top: 146px;
	}
	#header.active .opener {
		right: 13px;
		top: 14px;
	}
	#header .search-form {
		bottom: 20px;
		left: 20px;
		padding: 0 38px 0 0;
		right: 20px;
	}
	#header .search-form input[type="text"] {
		font-size: 18px;
		height: 23px;
		padding: 7px 8px 8px;
	}
	#header .search-form button[type="submit"] {
		height: 40px;
		width: 40px;
	}
}
@media only screen and (max-height: 450px) {
	.logo {
		top: 10px !important;
	}

	#header .opener {
		top: 26px;
	}

	#header.active .opener {
		top: 26px;
	}

	#header.fixed .logo {
		top: 26px !important;
	}
	#header.fixed .opener {
		top: 39px;
	}
}
.logo {
	background: url('/markup/images/sprite.png?1415794676') no-repeat;
	height: 47px;
	left: 50px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 26px;
	width: 200px;
}
.logo a {
	display: block;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.logo {
		left: 50%;
		margin: 0 0 0 -100px;
		top: 76px !important;
	}
}
/* nav styles start */
#nav {
	float: left;
	width: 100%;
}
#nav ul {
	font: 18px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline-block;
	margin: 0 -4px 0 0;
	position: relative;
}
#nav ul li.active a {
	background: #ec008c;
}
#nav ul li.active a:hover {
	color: white;
}
#nav ul li.active a span {
	border: none;
}
#nav ul a {
	color: white;
	display: block;
	padding: 0 9px;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
#nav ul a:hover {
	color: #d4d4d4;
}
#nav ul a:hover span {
	border-color: #d4d4d4;
}
#nav ul a span {
	border-bottom: 1px solid white;
	display: block;
	font-family: "Play",Arial,Helvetica,sans-serif;
}

@media only screen and (max-width: 1200px) {
	#nav {
		display: none;
		float: none;
		margin: 0 0 9px;
	}
	#nav ul {
		font-size: 24px;
	}
	#nav ul li.active a {
		color: white;
	}
	#nav ul a {
		color: #666666;
		padding: 0 10px;
	}
}
@media only screen and (max-width: 767px) {
	#nav {
		margin: 0 0 0px;
	}
	#nav ul li {
		display: block;
		margin: 0 0 3px;
	}
	#nav ul a {
		display: inline-block;
		min-width: 108px;
		vertical-align: top;
	}
	#nav ul a span {
		border-color: transparent;
	}
}
/* nav styles end */
/* header styles end */
/* main styles start */
#main {
	overflow: hidden;
	position: relative;
	z-index: 2;
}

/* visual gallery styles start */
.visual-gallery {
	overflow: hidden;
	position: relative;
	width: 100%;
	/* slideshow styles start */
	/* slideshow styles end */
}
.visual-gallery .slideset {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 504px;
}
.visual-gallery .slideset > li {
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.visual-gallery .slideset > li.active {
	z-index: 1;
}
.visual-gallery .slideset img {
	display: block;
	height: auto;
	margin: -100px 0 0;
	position: relative;
	width: 100%;
}
.visual-gallery .slideset iframe {
	display: block;
	position: relative;
	width: 50%;
	margin: 0 auto;
}
.visual-gallery .slideset .block {
	left: 0;
	margin: -240px 0 0;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 2;
}
.visual-gallery .slideset h2 {
	color: white;
	font: 27px "PT Sans Narrow", Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	line-height: 30px;
	margin: 0 0 15px;
	text-transform: uppercase;
}
.visual-gallery .btn-prev,
.visual-gallery .btn-next {
	height: 48px;
	margin: -24px 0 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 30px;
	z-index: 2;
}
.visual-gallery .btn-prev {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -240px 0;
	left: 35px;
}
.visual-gallery .btn-next {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -280px 0;
	right: 35px;
}
.visual-gallery .info-list {
	color: white;
	width: 100%;
	display: table;
	position: relative;
}
.visual-gallery .info-list .ico.calendar {
	background-position: -510px 0;
}
.visual-gallery .info-list .ico.technology {
	background-position: -570px 0;
}
.visual-gallery .info-list .ico.resources {
	background-position: -610px 0;
}
.visual-gallery .pagination {
	width: 100%;
}
.visual-gallery .pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.visual-gallery .pagination li {
	display: inline-block;
	margin: 0 -4px 0 0;
	position: relative;
	padding: 0 5px;
}
.visual-gallery .pagination li.active a {
	background: #ec008c;
}
.visual-gallery .pagination a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 10px;
	width: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #b2b2b2;
}

@media only screen and (max-width: 1200px) {
	.visual-gallery .slideset h2 {
		font-size: 21px;
	}
	.visual-gallery .slideset iframe {
		height: 400px;
	}
	.visual-gallery .slideset .block {
		margin: -195px 0 0;
	}
}
@media only screen and (max-width: 1000px) {
	.visual-gallery .title {
		font-size: 50px;
		margin: 0 0 15px;
	}
	.visual-gallery .slideset iframe {
		height: 500px;
	}
	.visual-gallery .info-list li {
		width: 180px;
	}
	.visual-gallery .slideset {
		min-height: 295px;
	}
	.visual-gallery .slideset .block {
		margin-top: -110px;
	}
	.visual-gallery .slideset h2 {
		margin-bottom: -15px;
	}

}
@media only screen and (max-width: 767px) {
	.title-video {
		text-align: center !important;
		margin: 0px 0 45px !important
	}
	.visual-gallery {

	}
	.visual-gallery .info-list li {
		padding: 96px 0 0;
		width: 100%;
	}
	.visual-gallery .slideset > li {
		/*padding: 100px 0 0;*/
	}
	.visual-gallery.one .slideset>li {
		padding: 100px 0 0;
	}
	.visual-gallery .slideset .block {
		margin: 0 0 33px;
		position: static;
	}
	.visual-gallery .slideset img {
		/*margin: 0;*/
		margin-top: 50px !important;
	}
	.visual-gallery .slideset h2 {
		color: #666666;
		font-size: 21px;
		line-height: 30px;
		margin: 0;
	}
	.visual-gallery .slideset iframe {
		height: 300px;
	}
	.visual-gallery .slideset h2 span {
		display: block;
	}
	.visual-gallery .title {
		color: #004e96;
		font: 30px/30px "Play", Arial, Helvetica, sans-serif;
		margin: 0 0 33px;
	}
	.visual-gallery .info-list {
		color: #666666;
		display: none;
	}
	.visual-gallery .info-list .ico.calendar {
		background-position: -320px 0;
	}
	.visual-gallery .info-list .ico.technology {
		background-position: -380px 0;
	}
	.visual-gallery .info-list .ico.resources {
		background-position: -420px 0;
	}
}
/* visual gallery styles end */
/* main nav styles start */
.main-nav {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 90px;
	padding: 42px 0 0px;
}
.main-nav ul {
	font: 18px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0 0 0 4px;
}
.main-nav ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 -4px 15px 0;
	padding: 0 25px 0 5px;
	position: relative;
	vertical-align: top;
	width: 16.6%;
}
.main-nav ul a {
	color: #004e96;
	text-decoration: none;
}
.main-nav ul a:hover {
	color: #4c83b5;
}

@media only screen and (max-width: 1200px) {
	.main-nav {
		min-height: 84px;
		padding: 34px 24px 0px 32px;
	}
	.main-nav ul {
		font-size: 16px;
	}
}
@media only screen and (max-width: 767px) {
	.main-nav {
		padding: 0 20px 0px;
		margin-top: 40px;
	}
	.main-nav ul {
		color: #8d8d8d;
		font-size: 16px;
		line-height: 20px;
		padding: 0;
	}
	.main-nav ul li {
		display: block;
		margin: 0 0 15px;
		padding: 0;
		width: 100%;
	}
}
/* main nav styles end */
/* about project styles start */
.about-project {
	margin: 0 0 129px;
}
.about-project dl {
	color: #8d8d8d;
	display: inline-block;
	margin: 0 0 0 19px;
	max-width: 800px;
}
.about-project dt {
	float: left;
	padding: 0 10px 0 0;
	text-align: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.about-project dd {
	float: left;
	margin: 0;
	overflow: hidden;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

@media only screen and (max-width: 767px) {
	.about-project {
		margin: 0 0 40px;
	}
	.about-project dl {
		display: block;
		margin: 0;
	}
	.about-project dt {
		float: none;
		width: 100%;
	}
	.about-project dd {
		float: none;
		width: 100%;
	}
}
/* about project styles end */
/* info section styles start */
.info-section {
	background: #e5edf4;
	padding: 164px 0 109px;
}
.info-section h1 {
	color: #004e96;
	margin: 0 -15px 15px;
	min-height: 376px;
}

@media only screen and (max-width: 1200px) {
	.info-section {
		padding: 139px 0 79px;
	}
	.info-section h1 {
		min-height: 251px;
	}
}
@media only screen and (max-width: 767px) {
	.info-section {
		padding: 34px 0 5px;
	}
	.info-section h1 {
		margin: 0 0 15px;
		min-height: 106px !important;
	}
}
/* info section styles end */
/* info list styles start */
.info-list {
	color: #666666;
	font-size: 16px;
	line-height: 25px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: table;
	width: 100%;
	position: relative;
}
.info-list li {
	/*display: inline-block;*/
	margin: 0 -4px 15px 0;
	padding: 0;
	position: relative;
	width: 299px;
	display: table-cell;
}
.info-list .ico {
	/*left: 50%;*/
	/*position: absolute;*/
	top: 0;
}
.info-list .ico.calendar {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -320px 0;
	height: 60px;
	margin: 0 0 0 -25px;
	top: 10px;
	width: 50px;
}
.info-list .ico.technology {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -380px 0;
	height: 80px;
	margin: 0 0 0 -18px;
	width: 36px;
}
.info-list .ico.resources {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -420px 0;
	height: 44px;
	margin: 0 0 0 -40px;
	padding: 0;
	top: 18px;
	width: 80px;
}



.info-list .ico.icon1 {
	height: 100px;
	margin: 0;
	top: 10px;
	width: 100px;
	background-size: 80px !important;
}

@media only screen and (max-width: 1000px) {
	.info-list li {
		width: 245px;
	}
}
@media only screen and (max-width: 767px) {
	.info-list li {
		display: block;
		margin: 0 0 39px;
		width: 100%;
	}
}
/* info list styles end */
/* filter styles start */
.filter {
	padding: 43px 0 50px;
}
.filter ul {
	line-height: 20px;
	list-style: none;
	margin: 0 0 35px;
	padding: 0;
	text-align: center;
}
.filter ul li {
	display: inline-block;
	margin: 0 -4px 0 0;
	padding: 0 14px;
	position: relative;
}
.filter ul li.active a {
	border-color: #ec008c;
}
.filter ul a {
	border-bottom: 6px solid transparent;
	color: #666666;
	display: block;
	padding: 0 0 7px;
	text-decoration: none;
}
.filter ul a:hover {
	border-color: #ec008c;
}
.filter .btn-holder {
	padding: 8px 0 0;
}
.filter .btn-holder .btn {
	min-width: 196px;
}
.filter .select-box {
	margin: 0 0 21px;
	position: relative;
}
.filter select {
	width: 100%;
}

@media only screen and (max-width: 1200px) {
	.filter {
		padding: 44px 0 50px;
	}
	.filter ul {
		font-size: 16px;
		margin: 0 0 28px;
	}
	.filter ul li {
		padding: 0 13px 0 12px;
	}
	.filter ul a {
		padding: 0 0 6px;
	}
	.filter .btn-holder {
		padding: 7px 0 0;
	}
}
@media only screen and (max-width: 767px) {
	.filter {
		padding: 96px 0 50px;
	}
	.filter .btn-holder {
		padding-top: 15px;
	}
	.filter .btn-holder .m-visible {
		display: inline-block !important;
	}
}
/* filter styles end */
/* promo styles start */
.promo {
	margin: 0 0 15px;
	position: relative;
	overflow: hidden;
	width: 100%;
	/* gallery styles start */
	/* gallery styles end */
}
.promo .slideset {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 850px;
}
.promo .slideset li {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.promo .slideset figure {
	width: 100%;
}
.promo .slideset img {
	display: block;
	height: auto;
	margin: 0 0 4px;
	width: 100%;
}
.promo .slideset figcaption {
	color: #747474;
	font: 14px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 20px;
	margin: 0 auto;
	max-width: 780px;
	min-height: 93px;
	padding: 0 20px;
}
.promo .btn-prev,
.promo .btn-next {
	height: 48px;
	margin: -24px 0 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 30px;
	z-index: 2;
}
.promo .btn-prev.btn-prev,
.promo .btn-next.btn-prev {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -240px 0;
	left: 35px;
}
.promo .btn-prev.btn-next,
.promo .btn-next.btn-next {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -280px 0;
	right: 35px;
}
.promo .pagination {
	width: 100%;
}
.promo .pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.promo .pagination li {
	display: inline-block;
	margin: 0 -4px 0 0;
	padding: 0 5px;
	position: relative;
}
.promo .pagination li.active a {
	background: #ec008c;
}
.promo .pagination a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #b2b2b2;
	display: block;
	height: 10px;
	overflow: hidden;
	text-indent: -9999px;
	width: 10px;
}

@media only screen and (max-width: 1500px) {
	.promo .btn-prev,
	.promo .btn-next {
		margin-top: -82px;
	}
	.promo .slideset {
		min-height: 550px;
	}
}
@media only screen and (max-width: 1000px) {
	.promo .slideset {
		min-height: 480px;
	}
}
@media only screen and (max-width: 767px) {
	/*.promo {
		margin: 0 0 78px;
	}*/
	.promo .slideset {
		min-height: 200px;
	}
	.promo .slideset figcaption {
		min-height: 0;
		padding: 0 20px;
		text-align: center;
	}
}
/* promo styles end */
/* about styles start */
.about {
	color: #666666;
	margin-top: 30px;
	/*padding: 0 0 126px;*/
}
.about .container {
	max-width: 780px;
	padding: 0 20px;
}
.about h1 {
	color: #666666;
	font: 700 27px "Play", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	line-height: 35px;
	margin: 0 0 18px;
	text-transform: uppercase;
}
.about h2 {
	color: #004e96;
	font: 45px "Play", Arial, Helvetica, sans-serif;
	line-height: 60px;
	margin: 0 -158px 0 -200px;
	padding: 49px 0 72px;
	position: relative;
}
.about p {
	margin: 0 0 15px;
}

@media only screen and (max-width: 1200px) {
	.about {
		/*padding: 0 0 125px;*/
	}
	.about h2 {
		margin: 0;
	}
}
@media only screen and (max-width: 767px) {
	.about {
		font-size: 16px;
		line-height: 25px;
	}
	.about .container {
		max-width: 100%;
		padding: 0 20px;
	}
	.about h1 {
		margin: 0 0 14px;
	}
	.about h2 {
		font-size: 30px;
		line-height: 30px;
		padding: 18px 0 25px;
	}
}
/* about styles end */
/* map styles start */
.map {
	overflow: hidden;
	position: relative;
}
.map .info-location {
	color: white;
	left: 0;
	padding: 0;
	position: absolute;
	top: 108px;
	width: 100%;
	z-index: 1;
}
.map .info-location .holder {
	letter-spacing: -1px;
	margin: 0 auto;
	max-width: 845px;
	padding: 6px 0 0;
}
.map .info-location h1 {
	color: white;
}

#map {
	height: 800px;
}

.info-location {
	color: #666666;
	font: 27px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 35px;
	padding: 180px 0 191px;
}
.info-location h1 {
	color: #004e96;
	margin: 0 0 64px;
}

.gmnoprint,
.gm-style-cc {
	display: none;
}

@media only screen and (max-width: 1200px) {
	.map {
		padding: 0 20px;
	}
	.map .info-location {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 20px;
		top: 228px;
	}
	.map .info-location .holder {
		padding-top: 13px;
	}
	.map .info-location h1 {
		margin: 0 0 51px;
	}

	#map {
		height: 620px;
	}

	.info-location {
		font: 21px "PT Sans", Arial, Helvetica, sans-serif;
		line-height: 35px;
	}
	.info-location .holder {
		padding: 0 30px;
	}
}
@media only screen and (max-width: 767px) {
	.map .info-location {
		color: #666666;
		font-size: 21px;
		line-height: 25px;
		margin: 0 0 37px;
		position: static;
	}
	.map .info-location h1 {
		color: white;
		margin: -65px 0 10px;
	}
	.map .bg {
		height: 320px;
		top: auto;
	}

	#map {
		height: 320px;
	}
}
/* map styles end */
/* news styles start */
.news {
	padding-bottom: 100px;
}
.filter {
	padding-bottom: 100px;
}
.news h1 {
	margin: -26px 0 86px;
	position: relative;
}
.news .btn-holder {
	padding: 10px 0 0;
}
.news .btn-holder .btn {
	font-weight: 700;
	min-width: 160px;
}
.news .list {
	list-style: none;
	margin: 0 -40px;
	padding: 0;
	position: relative;
}
.news .list li {
	display: inline-block;
	margin: 0 -4px 0 0;
	padding: 0 40px 89px;
	vertical-align: top;
	width: 320px;
}
.news .list a {
	text-decoration: none;
}
.news .list a:hover {
	color: #9d9d9d;
}
.news .list a:hover img {
	opacity: 0.7;
}
.news .list a:hover h2 {
	color: #9d9d9d;
}
.news .list figure {
	width: 100%;
}
.news .list img {
	display: block;
	height: auto;
	margin: 0 0 11px;
	width: 100%;
}
.news .list figcaption {
	line-height: 25px;
	text-align: left;
}
.news .list h2 {
	color: #666666;
	font: 700 18px "PT Sans", Arial, Helvetica, sans-serif;
	margin: 0 0 1px;
}
.news .loader {
	background: url('/markup/images/preloader.GIF') no-repeat;
	height: 64px;
	width: 64px;
	display: block;
	margin: -74px auto 10px;
	position: relative;
	display: none;
}
.news .loader.active {
	display: block;
}

@media only screen and (max-width: 1200px) {
	.news {
		padding-bottom: 21px;
	}
	.news .list {
		font-size: 16px;
	}
	.news .list li {
		padding-bottom: 68px;
		width: 240px;
	}
	.news .list h2 {
		font-size: 16px;
		margin: 0 0 2px;
	}
	.news .list img {
		margin: 0 0 13px;
	}
}
@media only screen and (max-width: 767px) {
	.news {
		padding-bottom: 50px;
	}
	.news h1 {
		font-size: 30px;
		line-height: 30px;
		margin: -6px 0 37px;
	}
	.news .list li {
		padding-bottom: 49px;
	}
	.news .list h2 {
		margin: 0 0 1px;
	}
	.news .btn-holder {
		margin: -9px 0 0;
		padding: 0;
		position: relative;
	}
	.news .btn-holder .btn {
		font-weight: 400;
		min-width: 196px;
	}
}
/* news styles end */
/* certificate styles start */
.certificate {
	padding: 100px 0;
}
.certificate h1 {
	margin: 0 0 67px;
}
.certificate .gallery {
	position: relative;
}
.certificate .gallery .btn-prev,
.certificate .gallery .btn-next {
	height: 48px;
	margin: -24px 0 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 30px;
	z-index: 1;
}
.certificate .gallery .btn-prev {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -700px 0;
	left: -65px;
}
.certificate .gallery .btn-next {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -740px 0;
	right: -65px;
}
.certificate .gallery .holder {
	overflow: hidden;
	margin: 0 -17px 0 -12px;
	position: relative;
}
.certificate .gallery .slider {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 9999px;
}
.certificate .gallery.gallery-centered .slider {
	margin: 0 auto !important;
}
.certificate .gallery .slider li {
	/*float: left;*/
	padding: 0 40px;
	width: 323px;
	display: table-cell;
	vertical-align: middle;
}
.certificate .gallery .slider img {
	display: block;
	height: auto;
	width: 100%;
}

@media only screen and (max-width: 1390px) {
	.map .info-location {
		top: 180px;
	}
}
@media only screen and (max-width: 1330px) {
	.certificate .gallery .btn-prev {
		left: 0;
	}
	.certificate .gallery .btn-next {
		right: 0;
	}
}
@media only screen and (max-width: 1200px) {
	.certificate {
		padding: 54px 0 83px;
	}
	.certificate .gallery {
		position: relative;
	}
	.certificate .gallery .holder {
		margin: 0 auto;
		width: 960px;
	}
	.certificate .gallery .btn-prev {
		left: 24px;
	}
	.certificate .gallery .btn-next {
		right: 24px;
	}
	.certificate .gallery .slider li {
		width: 240px;
	}

	.map .info-location {
		top: 225px;
	}
}
@media only screen and (max-width: 1000px) {
	.certificate .gallery .slider li {
		margin: 0 25px;
	}
	.certificate .gallery .holder {
		margin: 0 auto;
		width: 870px;
	}
	.certificate .gallery .btn-prev {
		left: -8px;
	}
	.certificate .gallery .btn-next {
		right: -8px;
	}
}
@media only screen and (max-width: 955px) {
	.certificate .gallery .slider li {
		margin: 0 54px;
	}
	.certificate .gallery .holder {
		margin: 0 auto;
		width: 696px;
	}
}
@media only screen and (max-width: 874px) {
	.map .info-location {
		top: 170px;
	}
}
@media only screen and (max-width: 767px) {
	.certificate {
		padding: 0;
	}
	.certificate h1 {
		margin: 0 0 42px;
	}
	.certificate .gallery .holder {
		margin: 0;
		width: 100%;
	}
	.certificate .gallery .slider {
		width: auto !important;
	}
	.certificate .gallery .slider li {
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 10px;
	}

}
.certificate .btn-holder {
	padding: 5px 0 0;
}
.certificate .btn {
	min-width: 196px;
}
}
/* certificate styles end */
/* support form styles start */
.support-form {
	padding: 69px 0 100px;
}
.support-form .container {
	max-width: 798px;
	padding: 0;
}
.support-form h1 {
	margin: 0 0 72px;
}
.support-form .box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	position: relative;
}
.support-form .box.error .message-error {
	display: block;
}
.support-form .box.error .holder .message-error {
	left: 0;
}
.support-form .row {
	margin: 0 0 39px;
	width: 100%;
}
.support-form .row:after {
	clear: both;
	content: '';
	display: block;
}
.support-form .row .box {
	width: 50%;
}
.support-form .holder {
	position: relative;
	margin: 0 0 99px;
}
.support-form .message-error {
	bottom: -24px;
	color: #ff3333;
	display: none;
	font: 18px "PT Sans", Arial, Helvetica, sans-serif;
	height: 24px;
	left: 10px;
	max-width: 100%;
	position: absolute;
}
.support-form input[type="text"] {
	border: none;
	border-bottom: 1px solid #b2b2b2;
	height: 24px;
	padding: 0 0 5px;
	width: 100%;
	outline: none;
}
.support-form input[type="text"]::-webkit-input-placeholder {
	color: #666666;
}
.support-form input[type="text"]:-moz-placeholder {
	color: #666666;
	opacity: 1;
}
.support-form input[type="text"]::-moz-placeholder {
	color: #666666;
	opacity: 1;
}
.support-form input[type="text"]:-ms-input-placeholder {
	color: #666666;
}
.support-form textarea {
	background: url('/markup/images/backgrounds/bg-textarea.png?1415794674');
	border: none;
	line-height: 30px;
	margin: 0;
	max-height: 120px;
	outline: none;
	overflow: auto;
	width: 100%;
}
.support-form textarea::-webkit-input-placeholder {
	color: #666666;
}
.support-form textarea:-moz-placeholder {
	color: #666666;
	opacity: 1;
}
.support-form textarea::-moz-placeholder {
	color: #666666;
	opacity: 1;
}
.support-form textarea:-ms-input-placeholder {
	color: #666666;
}
.support-form .btn {
	font-size: 14px;
	font-weight: 700;
	max-width: 100%;
	min-width: 180px;
}

@media only screen and (max-width: 1200px) {
	.support-form {
		padding-top: 74px;
	}
	.support-form .container {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 767px) {

	.support-form h1 {
		margin: 0 0 32px;
	}
	.support-form .box {
		padding: 0;
	}
	.support-form .box.error .message-error {
		left: 0;
		bottom: 0;
	}
	.support-form .box.error .holder .message-error {
		bottom: -25px;
	}
	.support-form .row {
		margin: 0 0 2px;
	}
	.support-form .row .box {
		float: none !important;
		width: 100%;
		padding: 0 0 25px;
	}
	.support-form .holder {
		margin: 0 0 40px;
	}
	.support-form .btn {
		height: 40px;
	}
	.support-form .container {
		max-width: 100%;
	}
}
/* support form styles end */
/* resources styles start */
.resources {
	padding: 73px 0 80px;
}
.resources h1 {
	margin: 0 0 87px;
}
.resources .list {
	list-style: none;
	margin: 0 -20px -60px;
	padding: 0;
	position: relative;
}
.resources .list li {
	display: inline-block;
	margin: 0 -4px 0 0;
	padding: 0 40px 80px;
	position: relative;
	vertical-align: top;
	width: 320px;
}
.resources .list a:hover img {
	opacity: 0.7;
}
.resources .list a:hover .btn {
	background: #f24cae;
}
.resources .list .img-holder {
	display: block;
	position: relative;
}
.resources .list .btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 700;
	height: 40px;
	min-width: 160px;
}
.resources .list img {
	display: block;
	height: auto;
	width: 100%;
}
.resources .list .btn-holder {
	height: 40px;
	left: 0;
	margin: -20px 0 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

@media only screen and (max-width: 1200px) {
	.resources .list li {
		width: 240px;
	}
	.resources .list .btn {
		font-size: 14px;
	}
}
@media only screen and (max-width: 767px) {
	.resources {
		padding-bottom: 20px;
	}
	.resources .list {
		margin: 0;
	}
	.resources .list li {
		padding: 0 20px 50px;
	}
	.resources h1 {
		margin: 0 0 36px;
	}
}
/* resources styles end */
/* vacancy styles start */
.vacancy {
	padding: 0 0 50px !important;
}
.vacancy .container {
	max-width: 780px;
	padding: 0 20px;
}
.vacancy h1,
.vacancy h2 {
	color: #666666;
	font: 700 27px "Play", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	line-height: 35px;
	margin: 0 0 18px;
	text-transform: uppercase;
}
.vacancy .main-list {
	margin-bottom: 47px;
}

.vacancy-list {
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}
.vacancy-list a {
	color: #ec008c;
	text-decoration: none;
}
.vacancy-list a:hover {
	color: #f24cae;
}

@media only screen and (max-width: 767px) {
	.vacancy {
		padding: 0 0 50px !important;
	}
	.vacancy h1,
	.vacancy h2 {
		font-size: 24px;
		line-height: 25px;
		margin: 0 0 16px;
	}
}
/* vacancy styles end */
/* main styles end */
/* footer styles start */
#footer {
	background: #e5e5e5;
	color: #666666;
	font: 14px "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 25px;
	padding: 143px 0 0;
	position: relative;
	z-index: 1;
}
#footer .box {
	min-height: 247px;
	padding: 0 440px 0px 100px;
}
#footer .holder {
	overflow: hidden;
}
#footer .holder .col-1 {
	float: left;
	width: 62.5%;
}
#footer .holder .col-2 {
	float: left;
	width: 37.5%;
}
#footer a {
	color: #004e96;
	text-decoration: none;
}
#footer a:hover {
	color: #4c83b5;
}
#footer address {
	font-style: normal;
}
#footer .contacts {
	margin: 0;
	overflow: hidden;
}
#footer .contacts dt {
	float: left;
	margin: 0 4px 0 0;
}
#footer .contacts dd {
	margin: 0;
	overflow: hidden;
}
#footer .ad-list {
	list-style: none;
	margin: 0;
	padding: 0 0 23px;
}
#footer .social {
	line-height: 28px;
	list-style: none;
	margin: 0 0 -2px;
	padding: 0;
	position: relative;
}
#footer .social li {
	margin: 0 0 5px;
}
#footer .social a {
	color: #666666;
	display: inline-block;
	min-height: 28px;
	padding: 2px 0 0 40px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
}
#footer .social a.fb .ico {
	background: url('/markup/images/icons/icon_80_fb.png') no-repeat;
	height: 32px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	background-size: 32px 32px;
}
#footer .social a.in .ico {
	background: url('/markup/images/icons/icon_80_in.png') no-repeat;
	height: 32px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	background-size: 32px 32px;
}
#footer .social a.twitter .ico {
	background: url('/markup/images/icons/icon_80_tw.png') no-repeat;
	height: 32px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	background-size: 32px 32px;
}
#footer .social a.vk .ico {
	background: url('/markup/images/icons/icon_80_vk.png') no-repeat;
	height: 32px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	background-size: 32px 32px;
}
.footer-icon-soc {
	float: left;
	padding-left: 5px;
}

#footer .slogan {

	height: 100px;
	overflow: hidden;
	position: absolute;
	right: 107px;
	text-indent: -9999px;
	top: -12px;
	width: 341px;

}

#footer .slogan.en {
	background: url('/markup/images/compact_motto_eng.png') no-repeat;
	background-size: 341px 100px;
}

#footer .slogan.ru {
	background: url('/markup/images/compact_motto_ru.png') no-repeat;
	background-size: 341px 100px;
}

#footer .developers {
	background: url('/markup/images/sprite.png?1415794676') no-repeat -350px -90px;
	bottom: 19px;
	height: 29px;
	left: 50%;
	margin: 0 0 0 -90px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 81px;
}
#footer .copyright {
	line-height: 25px;
	font-family: "Play", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1200px) {
	#footer {
		line-height: 30px;
		padding: 99px 0 0;
	}
	#footer .box {
		padding: 0 330px 50px 34px;
	}
	#footer .ad-list {
		padding: 0;
	}
	#footer .developers {
		background-position: -350px -130px;
		bottom: 60px;
		margin-left: -70px;
	}
	#footer .slogan {
		background-position: 0 -200px;
		height: 94px;
		right: 45px;
		top: 11px;
		width: 322px;
		background-size: 322px 94px !important;
	}
}
@media only screen and (max-width: 1000px) {
	#footer .box {
		padding: 0 320px 50px 10px;
	}
	#footer .slogan {
		right: 10px;
	}
}
@media only screen and (max-width: 767px) {
	#footer {
		line-height: 20px;
		padding: 45px 0 0;
	}
	#footer .holder .col-1,
	#footer .holder .col-2 {
		float: none;
		width: 100%;
	}
	#footer .holder .col-1 {
		margin: 0 0 29px;
	}
	#footer .box {
		padding: 0 0 223px;
	}
	#footer .ad-list {
		padding: 0 0 16px;
	}
	#footer .social {
		margin: 0 0 34px;
	}
	#footer .social a {
		padding-top: 0;
	}
	#footer .developers {
		position: static;
		display: block;
		margin: 0 0 40px;
	}
	#footer .copyright {
		margin: 0 0 30px;
	}
	#footer .slogan {
		background-position: 0 -300px;
		bottom: 91px;
		height: 82px;
		left: 20px;
		right: auto;
		top: auto;
		width: 280px;
		background-size: 280px 82px !important;
	}
}
/* footer styles end */
/* retina styles start */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.logo,
	.visual-gallery .btn-prev,
	.visual-gallery .btn-next,
	#header .opener,
	#header.active .opener,
	.certificate .gallery .btn-prev,
	.certificate .gallery .btn-next,
	#footer .social a.linkedin .ico,
	#footer .developers,
	.selectButton .ico {
		background: url('/markup/images/sprite@2x.png?1415794678') no-repeat;
		background-size: 1000px 1000px;
	}

	.visual-gallery .btn-prev {
		background-position: -240px 0;
	}
	.visual-gallery .btn-next {
		background-position: -280px 0;
	}

	#header .opener {
		background-position: -820px 0;
	}
	#header.active .opener {
		background-position: -820px -20px;
	}

	.certificate .gallery .btn-prev {
		background-position: -700px 0;
	}
	.certificate .gallery .btn-next {
		background-position: -740px 0;
	}

	#footer .social a.linkedin .ico {
		background-position: -780px 0;
	}

	#footer .developers {
		background-position: -350px -90px;
	}

	.selectButton .ico {
		background-position: -860px 0;
	}
}
@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 1200px) and (-moz-min-device-pixel-ratio: 2), only screen and (max-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (max-width: 1200px) and (min-resolution: 192dpi), only screen and (max-width: 1200px) and (min-resolution: 2dppx) {
	#footer .developers {
		background-position: -350px -130px;
	}

	#header.active .opener {
		background-position: -880px 0;
	}
}
/* retina styles end */


section.map .info-location {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 100px;
	margin-left: 50px;
}

#info-section-b {
	background: #ffffff;
	padding: 90px 0 90px;
}

#block_title {
	min-height: 250px;
}

#block_href {
	font-weight: 700;
	min-width: 160px;
}

.blockB_button {
	position: relative;
	margin: 0 auto;
	bottom: -25px;
	width: 201px;
	display: block;
	text-align: center;
}

.carousel .blockB_button {
	bottom: 0;
}

.error404_title {
	margin: 45px 0 40px!important;
	color: white;
	font-weight: normal;
}
.text_404 {
	color:white;
	margin-left: 8%;
}
.text_404 h4 {
	font-size: 25px!important;
	letter-spacing: 2px!important;
	font-weight: normal!important;
}

.hidescreen,
.load_page {
	position: fixed;
	display: none;
}
.hidescreen {
	z-index: 9998;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	left:0;
	top:0;
}
.load_page {
	z-index: 9999;
	left: 50%;
	top: 50%;
	background: #ffffff;
	padding: 30px 10px;
	text-align: center;
	font: normal normal 15px Verdana;
	border-radius: 3px;
	margin-left: -125px;
	width: 250px;
}

#filtered-results {
	color: red;
}

.button-placeholder {
	margin-top: 5px;
}

.title-video {
	text-align: center !important;
	margin: 70px 0 86px !important;
}

.support-form {
	padding: 84px 0 21px;
}

LABEL.file-upload, LABEL.attach {
	display: inline-block;
	outline: none;

	background: url(/img/Attachment-24x24.png) 8px 50% no-repeat;
	font: 18px "PT Sans", Arial, Helvetica, sans-serif;
	height: 24px;
	line-height: 24px;
	color: #666666;

	padding: 0 0 0 42px;
	margin: 0;

	position: relative;
	overflow: hidden;
}
LABEL.file-upload:hover, label.attach:hover, LABEL.file-upload:active, label.attach:hover {
	color: #333333;
}
LABEL.file-upload INPUT[type="file"] {
	display: block;
	position: absolute;
	top: 0; left: 0;
	margin-left: -75px;
	width: 200%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

LABEL.attach {
	background: url(/img/icon_download.png) 8px 50% no-repeat;
	height: 30px;
	background-size: contain;
	line-height: 30px;
	color: #3271ab;
}

label.attach:hover {
	color: #136dc0;
}

.attach-wrapper a {
	color: #ec008c;
}

.play-font * {
	font-family: "Play",Arial,Helvetica,sans-serif;
	color: #525252;
}

#filtered-results figcaption span {
	font-family: "Play",Arial,Helvetica,sans-serif;
	color: #8d8d8d;
}

.description-width {
	max-width: 900px !important;
}

.filtered-no-filters {
	padding-top: 43px;
}

.photogallery {
	padding-top: 0 !important;
}